#credencialFinal {
max-width: 990px;
min-width: 990px;
min-height: 350px;
}


@media screen and (max-width: 640px) {
#logoHeader{
    display: flex;
    justify-content: center;
gap:10vh;
align-items: center;
}

}
