#credencialFinal {

  min-width: 1000px;
  min-height: 300px;

}



@media screen and (max-width: 640px) {
  #logoHeader {
    display: flex;
    justify-content: center;
    gap: 10vh;
    align-items: center;
  }
}
